// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';


//fontawesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.index {
     margin-top: 50px;
}

.btn {
     margin-top: 20px;
     margin-bottom: 20px;
}

.createCompanyBtn{
    margin: 0!important;
    height:39px!important;
}

.hidden {
     display: none;
}

h3 a {
     margin-bottom: 20px;
}

.navbar {
     background-color: #227DC7;
}

.btn-linkedin
{
     background-color: #0077B5;
     color: #ffffff;
}

.btn-linkedin i
{
     font-size: 1.4em;
     border-right: 1px inset #0000001f;
     padding-right: 0.35em;
     margin-right: 0.35em;
}

.notifications{
     width: 40vw;
}


/*---------Nearest-Station-Card------------*/
p.display-4.degree {
    margin: 0px auto 40px;
}

i.fas.fa-train.fa-lg.text-info.pr-2 {
    font-size: 69px;
     margin-bottom: 20px;
}

.card-header.nearestStation{
    margin-bottom: 42px;
}

#nearestStations {
       margin-top: 40px;
    margin-bottom: 35px!important;
}
/*---------End-Station-Card------------*/

