// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.index {
     margin-top: 50px;
}

.btn {
     margin-top: 20px;
     margin-bottom: 20px;
}

.createCompanyBtn{
    margin: 0!important;
    height:39px!important;
}

.hidden {
     display: none;
}

h3 a {
     margin-bottom: 20px;
}

.navbar {
     background-color: #227DC7;
}

.btn-linkedin
{
     background-color: #0077B5;
     color: #ffffff;
}

.btn-linkedin i
{
     font-size: 1.4em;
     border-right: 1px inset #0000001f;
     padding-right: 0.35em;
     margin-right: 0.35em;
}
