// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.index {
     margin-top: 50px;
}

.btn {
     margin-top: 20px;
     margin-bottom: 20px;
}

.hidden {
     display: none;
}

a {
     margin-bottom: 20px;
}
